name: PR Checks

defaults:
    run:
        shell: bash

permissions:
    contents: read

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: hiero-client-sdk-linux-medium
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                egress-policy: audit

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.24
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version: "1.24"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Tidy SDK Modules
              run: go mod tidy
              working-directory: ./

            - name: Lint
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
              with:
                  skip-cache: true
                  args: --timeout=5m

            - name: Build SDK and Examples
              run: go build -v ./...

    test:
        name: Unit and Integration Tests
        if: success()
        runs-on: hiero-client-sdk-linux-medium

        needs:
            - build

        strategy:
          matrix:
            test-type: [unit, e2e]

        env:
          HEDERA_NETWORK: "localhost"

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - name: Setup NodeJS
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                node-version: 22

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.24
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version: "1.24"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Prepare Hiero Solo
              if: success() && matrix.test-type == 'e2e'
              id: solo
              uses: hiero-ledger/hiero-solo-action@fbca3e7a99ce9aa8a250563a81187abe115e0dad # v0.16.0
              with:
                installMirrorNode: true
                hieroVersion: v0.71.0-alpha.1
                mirrorNodeVersion: v0.146.0

            - name: Set Operator Account
              if: success() && matrix.test-type == 'e2e'
              run: |
                echo "OPERATOR_KEY=${{ steps.solo.outputs.ed25519PrivateKey }}" >> $GITHUB_ENV
                echo "OPERATOR_ID=${{ steps.solo.outputs.ed25519AccountId }}" >> $GITHUB_ENV

            - name: Tests Unit
              if: success() && matrix.test-type == 'unit'
              run: go test ./sdk -tags="unit" -timeout 9999s -v -coverprofile=unit.out -covermode=atomic -race

            - name: Tests Integration
              if: success() && matrix.test-type == 'e2e'
              run: go test ./sdk -tags="e2e" -timeout 9999s -v -coverprofile=e2e.out -covermode=atomic -race

            - name: Upload unit test coverage to Codecov
              if: success() && matrix.test-type == 'unit'
              uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                files: ./unit.out

            - name: Upload e2e test coverage to Codecov
              if: success() && matrix.test-type == 'e2e'
              uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                files: ./e2e.out

    test-dab:
        name: DAB Tests
        if: success()
        runs-on: hiero-client-sdk-linux-medium

        needs:
            - build

        env:
          HEDERA_NETWORK: "localhost"

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                egress-policy: audit

            - name: Setup NodeJS
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                node-version: 22

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.24
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version: "1.24"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Prepare Hiero Solo
              id: solo
              uses: hiero-ledger/hiero-solo-action@fbca3e7a99ce9aa8a250563a81187abe115e0dad # v0.16.0
              with:
                installMirrorNode: true
                hieroVersion: v0.71.0-alpha.1
                mirrorNodeVersion: v0.146.0
                dualMode: true

            - name: Set Operator Account
              run: |
                echo "OPERATOR_KEY=${{ steps.solo.outputs.ed25519PrivateKey }}" >> $GITHUB_ENV
                echo "OPERATOR_ID=${{ steps.solo.outputs.ed25519AccountId }}" >> $GITHUB_ENV

            - name: Tests DAB
              run: go test ./sdk -tags="dab" -timeout 9999s -v -coverprofile=dab.out -covermode=atomic -race

            - name: Upload dab test coverage to Codecov
              if: success()
              uses: codecov/codecov-action@015f24e6818733317a2da2edd6290ab26238649a # v5.0.7
              with:
                token: ${{ secrets.CODECOV_TOKEN }}
                files: ./dab.out

    run-examples:
        name: Run Examples
        if: success()
        runs-on: hiero-client-sdk-linux-medium

        needs:
            - build
        env:
          HEDERA_NETWORK: "localhost"

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - name: Setup NodeJS
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                node-version: 22

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.24
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version: "1.24"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Install Task
              run: go install github.com/go-task/task/v3/cmd/task@v3.17.0

            - name: Prepare Hiero Solo
              id: solo
              uses: hiero-ledger/hiero-solo-action@fbca3e7a99ce9aa8a250563a81187abe115e0dad # v0.16.0
              with:
                installMirrorNode: true
                hieroVersion: v0.71.0-alpha.1
                mirrorNodeVersion: v0.146.0

            - name: Set Operator Account
              run: |
                echo "OPERATOR_KEY=${{ steps.solo.outputs.ed25519PrivateKey }}" >> $GITHUB_ENV
                echo "OPERATOR_ID=${{ steps.solo.outputs.ed25519AccountId }}" >> $GITHUB_ENV

            - name: Run Examples
              if: success()
              run: task run-examples

    build-test-tck:
        name: Build and Test TCK
        runs-on: hiero-client-sdk-linux-medium
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                egress-policy: audit

            - name: Setup GCC
              run: |
                sudo apt-get update
                sudo apt-get install -y --no-install-recommends gcc libc6-dev libc-dev

            - name: Set up Go 1.24
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version: "1.24"
              id: go

            - name: Check out code into the Go module directory
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Tidy TCK Modules
              run: go mod tidy
              working-directory: ./tck

            - name: Build TCK
              run: go build -v ./...
              working-directory: ./tck 

            - name: Lint TCK
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
              with:
                  skip-cache: true
                  args: --timeout=5m   
                  working-directory: ./tck 